/* GLOBALES */
@font-face {
    font-family: "Ambroise-Francois-Bold";
    src: url("../assets/fonts/Ambroise-Francois-Bold.otf");
}
@font-face {
    font-family: "NeueHaasDisplayLight";
    src: url("../assets/fonts/NeueHaasDisplayLight.ttf");
}
@font-face {
    font-family: "NeueHaasDisplayRoman";
    src: url("../assets/fonts/NeueHaasDisplayRoman.ttf");
}
@font-face {
    font-family: "NeueHaasDisplayBold";
    src: url("../assets/fonts/NeueHaasDisplayBold.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

/* HEADER */

header {
    background-color: black;
    position: sticky;
    z-index: 9999;
    top: 0px;
    font-family: "NeueHaasDisplayBold";
}
/* NAVEGACIÓN */
#navbarNav {
    justify-content: center;
}

.colornavbar {
    background-color: black;
}

ul {
    list-style-type: none; /*le saca todos los estilos por defecto y lo deja plano*/ 
}

a {
    text-decoration: none; /*para sacar el subrayado del enlace*/
    color: white;
}


/* MAIN */

h1 {
    font-family: "Ambroise-Francois-Bold";
}

h2 {
    font-family: "Ambroise-Francois-Bold";
}

h5 {
    font-family: "NeueHaasDisplayRoman"
}

p {
    font-family: "NeueHaasDisplayLight";
}

/* TAMAÑO PARRAFOS */

@media (min-width: 320px) and (max-width: 444px) {
    p {
        font-size: 15px;
    }
}

@media (min-width: 445px) and (max-width: 1200px) {
    p {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    p {
        font-size: 20px;
    }
}

/* TAMAÑO TITULOS SUBPAGINAS */

@media (min-width: 320px) and (max-width: 444px) {
    .tituloSubpagina h1 {
        font-size: 70px;
    }
}

@media (min-width: 445px) and (max-width: 1200px) {
    .tituloSubpagina h1 {
        font-size: 85px;
    }
}

@media (min-width: 1200px) {
    .tituloSubpagina h1 {
        font-size: 130px;
    }
}

/* TAMAÑO SUBTITULOS */
@media (min-width: 320px) and (max-width: 444px) {
    h2 {
        font-size: 50px;
    }
}

@media (min-width: 445px) and (max-width: 1200px) {
    h2 {
        font-size: 60px;
    }
}

@media (min-width: 1200px) {
    h2 {
        font-size: 100px;
    }
}

/* FOOTER */

footer {
    font-family: "NeueHaasDisplayLight";
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}

.redesMargen{
    margin: 5px;
}

.centradoTextos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ESTILOS INDEX */
@media (min-width: 320px) and (max-width: 444px) {
    .centradoTextos h1 {
        font-size: 70px;
    }
}

@media (min-width: 445px) and (max-width: 1200px) {
    .centradoTextos h1 {
        font-size: 85px;
    }
}

@media (min-width: 1200px) {
    .centradoTextos h1 {
        font-size: 130px;
    }
}

/* ESTILOS HISTORIA */
.textoHistoria {
    width: 1000px;
    text-align: center;
    margin: auto;
}

/* ESTILOS DISCOGRAFIA */
.albumsCentrados {
    text-align: center;
}

.separacionAbajo{
    padding: 0px 0px 35px 0px;
}

/* ESTILOS TOUR */
.centradoImagen {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ESTILOS CONTACTO */

form {
    font-family: "NeueHaasDisplayLight";
}

.containerFormulario {
    width: 300px;
    margin: auto;
}

.paddingFormulario {
    padding: 10px;
}

.botones {
    color: black;
    font-family: "NeueHaasDisplayLight";
    font-size: 15px;
    margin: auto;
    width: 125px
}

.textArea {
    position: relative;
    width: 500px;
    height: 175px;
}

.comentario {
    position: absolute;
    left: 10px;
    bottom: 0px;
}

.containerImagenContacto {
    width: 500px;
    margin: auto;
    padding: 10px;
}








